html {
    background-image: url(../images/bg_success.jpg);
}

.body {
    font-size: 25px;
}

@media screen and (max-width:749px) {
    .redirect {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 600px;
   
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        .btn {
            width: 100px;
        }
}

@media screen and (min-width:750px) {
    .redirect {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 50%;
        height: 700px;
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        .btn {
            height: 6%;
            width: 20%;
            background-color: #FFF;
            cursor: pointer;
            border-radius: 15px;
        }

        p {
            font-size: 21px;
        }
}


:root {
    --point-color: #555;
    --size: 5px;
}

.loader {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}